<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                       http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Welcome to Tomcat</display-name>
    <description>
     Welcome to Tomcat
  </description>
    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>com.muhardin.endy.pictag.web.Hello</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserList</servlet-name>
        <servlet-class>com.muhardin.endy.pictag.web.UserList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/hello.php</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserList</servlet-name>
        <url-pattern>/user/list</url-pattern>
    </servlet-mapping>
</web-app>
